# making dataframe by dictonery

In [1]:
import pandas as pd

In [8]:
d_product={
    'pname':['apple','sony','lenovo'],
    'price':[50000,60000,40000],
    'pid':[102,103,104]}

In [7]:
df_product=pd.DataFrame(d_product)
df_product

    pname  price  pid
0   apple  50000  102
1    sony  60000  103
2  lenovo  40000  104

In [9]:
d_details={
    'pid':[101,103,106,102],
    'pcolour':['red','green','black','blue']}
df_details=pd.DataFrame(d_details)
df_details

   pid pcolour
0  101     red
1  103   green
2  106   black
3  102    blue

In [10]:
#mergw()-inner-intersection,outer union,left,right
imerge=pd.merge(df_product,df_details,how='inner',on=['pid']) 
print(imerge)

   pname  price  pid pcolour
0  apple  50000  102    blue
1   sony  60000  103   green

In [11]:
omerge=pd.merge(df_product,df_details,how='outer',on=['pid'])#it will take union of column
omerge

    pname    price  pid pcolour
0   apple  50000.0  102    blue
1    sony  60000.0  103   green
2  lenovo  40000.0  104     NaN
3     NaN      NaN  101     red
4     NaN      NaN  106   black

In [12]:
lmerge=pd.merge(df_product,df_details,how='left',on=['pid'])
lmerge

    pname  price  pid pcolour
0   apple  50000  102    blue
1    sony  60000  103   green
2  lenovo  40000  104     NaN

In [14]:
imerge=pd.merge(df_product,df_details,how='right',on=['pid'])
imerge

   pname    price  pid pcolour
0    NaN      NaN  101     red
1   sony  60000.0  103   green
2    NaN      NaN  106   black
3  apple  50000.0  102    blue

In [15]:
columnname=['userid','itemid','rating','times_spnd']
df_data=pd.read_csv('/content/data',sep='\t',names=columnname)
df_data

FileNotFoundError: [Errno 2] No such file or directory: '/content/data'

In [16]:
#rough work
md_product={
    'pid':[1,2,3,4],
    'pname':['asd','fgh','tyu','bnm'],
    'price':[400,500,600,300] 
}

In [23]:
oproduct=pd.DataFrame(md_product)
oproduct

   pid pname  price
0    1   asd    400
1    2   fgh    500
2    3   tyu    600
3    4   bnm    300

In [24]:
cdproduct={
    'pid':[1,2,8,9],
    'pcolour':['green','black','yellow','pink'],
}

In [20]:
jproduct=pd.DataFrame(cdproduct)
print(jproduct)

   pid pcolour
0    1   green
1    2   black
2    8  yellow
3    9    pink

In [25]:
kmerge=pd.merge(oproduct,jproduct,how='inner',on=['pid'])
kmerge

   pid pname  price pcolour
0    1   asd    400   green
1    2   fgh    500   black

In [26]:
pmerge=pd.merge(jproduct,oproduct,how='outer',on=['pid'])
pmerge

   pid pcolour pname  price
0    1   green   asd  400.0
1    2   black   fgh  500.0
2    8  yellow   NaN    NaN
3    9    pink   NaN    NaN
4    3     NaN   tyu  600.0
5    4     NaN   bnm  300.0

In [27]:
gmerge=pd.merge(oproduct,jproduct,how='left',on=['pid'])
gmerge

   pid pname  price pcolour
0    1   asd    400   green
1    2   fgh    500   black
2    3   tyu    600     NaN
3    4   bnm    300     NaN

In [28]:
hmerge=pd.merge(jproduct,oproduct,how='right',on=['pid'])
hmerge

   pid pcolour pname  price
0    1   green   asd    400
1    2   black   fgh    500
2    3     NaN   tyu    600
3    4     NaN   bnm    300

In [29]:
gf={
    'kalu':['mamu','kalu','janu','aloo'],
    'love':['summi','munni','jummi','chimmi'],
    'ghas':['20%','30%','40%','90%']}

In [30]:
gh=pd.DataFrame(gf)
gh

   kalu    love ghas
0  mamu   summi  20%
1  kalu   munni  30%
2  janu   jummi  40%
3  aloo  chimmi  90%

In [31]:
dk={ 'pakda_gya':['chor','police','doctor','nurse'],
    'ghas':['20%','30%','80%','70%']}

In [32]:
kl=pd.DataFrame(dk)
kl

  pakda_gya ghas
0      chor  20%
1    police  30%
2    doctor  80%
3     nurse  70%

In [33]:
omerge=pd.merge(gh,kl,how='inner',on=['ghas'])
omerge

   kalu   love ghas pakda_gya
0  mamu  summi  20%      chor
1  kalu  munni  30%    police